.form-input {
  display: grid;
  grid-template-columns: 40% 60%;
  margin-bottom: 15px;
  width: 100%;
  position: relative;
}
.form-input > input {
  padding: 5px;
}
.form-input > i {
  position: absolute;
  right: 10px;
  top: 5px;
}
.form-input > p {
  color: red;
}
.fa-eye-slash {
  display: none;
}

.pass {
  background-color: #85ffbd;
  background-image: linear-gradient(45deg, #85ffbd 0%, #fffb7d 100%);
  position: relative;
  border: 2px solid green;
  border-radius: 10px;
  width: 500px;
  padding: 20px;
}
button {
  width: 100px;
  padding: 5px;
  background-color: #4158d0;
  background-image: linear-gradient(
    43deg,
    #4158d0 0%,
    #c850c0 46%,
    #ffcc70 100%
  );
}
