body {
  max-width: 100%;
  margin: 0px;
}
header {
  position: relative;
}
#id {
  width: 100%;
  height: 500px;
}
#id,
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.function1 {
  width: 85%;
  position: absolute;
  top: 10%;
  left: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  padding-bottom: 10px;
}
.function {
  width: 100%;
  border-bottom: 1px solid black;
}
.function :nth-child(6) {
  float: right;
}
.function :nth-child(7) {
  float: right;
}
.function input {
  float: right;
  height: 20px;
}
.function button {
  border: none;
  background-color: rgb(236, 192, 192, 0);
  font-size: 25px;
}

#logo img {
  width: 80px;
  height: 80px;
  object-fit: cover;
}

#content {
  position: absolute;
  top: 50px;
  right: 150px;
}
h1 {
  color: white;
  font-size: 50px;
  position: absolute;
  top: 70%;
  left: 5%;
  margin-top: 0px;
}
.seri {
  display: flex;
  gap: 5px;
}
.the7 {
  width: 50%;
  height: 400px;
  position: relative;
}
.the71 {
  position: absolute;
  top: 20%;
  left: 8%;
}
.the71 p {
  margin: 0;
  font-size: 50px;
  color: white;
}
.the71 button {
  color: white;
  padding: 10px 50px;
  margin: 10px;
  font-size: 20px;
  border-color: white;
  background-color: rgb(107, 138, 138, 0);
}
.button {
  display: flex;
  justify-content: center;
}
.button button {
  width: 200px;
  margin: 10px;
  font-size: 20px;
}

.function2 {
  margin-left: 10%;
  width: 80%;
  border-bottom: 1px solid black;
  margin-top: 20px;
}
.function2 button {
  border: none;
  background-color: rgb(236, 192, 192, 0);
  font-size: 20px;
  margin: 10px;
}

.product {
  margin-left: 10%;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
}
.product1 {
  width: 300px;
}
.product1 button {
  width: 140px;
  padding: 10px;
}
#picture {
  height: 140px;
}
#picture > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.product1 {
  transition: all 0.25s;
}
.product1:hover {
  box-shadow: 0px 20px 15px -15px gray;
}
.product1:hover > img {
  margin-bottom: 5px;
}

footer {
  margin-top: 10px;
  background-color: #e6e6e6;
}
footer p {
  margin: 0;
  padding: 30px;
  margin-left: 20px;
}

#search {
  display: none;
}

.form {
  width: 500px;
  display: none;
}
.form > * {
  display: grid;
  grid-template-columns: 30% 70%;
  margin: 10px;
}

.form1 {
  width: 500px;
  display: none;
}
.form1 > * {
  display: grid;
  grid-template-columns: 30% 70%;
  margin: 10px;
}
